<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SafeCollab - Settings</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "styles.css" %}">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
<div>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/myapplication">SafeCollab</a>
        </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/myapplication">Home</a></li>
        {%  if user.is_authenticated %}
            {% if user.is_staff %}
                <li><a href="/myapplication/manager">Manager</a></li>
            {% else %}
            {%  endif %}
      <li class="=active"><a href="/myapplication/groups">Groups</a></li>
      <li><a href="/myapplication/messaging">Messages</a></li>
      <li><a href="/myapplication/reports">Reports</a></li>
        {%  else %}
        {%  endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Account
            <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/myapplication/settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                    <li><a href="/myapplication/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </li>
        {% else %}
            <li><a href="/myapplication/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
    </ul>
  </div>
</nav>
</div>
<div id="user_form" class="content">
        <h3>Reset Password:</h3>

{% block content %}
<p>Please specify your email address to receive instructions for resetting it.</p>

<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p><label for="id_email">E-mail address:</label> <input class="form-control" id="id_email" maxlength="254" name="email" type="email"><br>
        <input class="btn btn-default" type="submit" value="Reset password" /></p>
</form>
{% endblock %}
</div>

<script type="text/javascript">
    $("#user_form").submit(function(e) {
        if ($("#id_password").val() != $("#reenter_password").val()) {
            e.preventDefault();
            alert("Passwords do not match")
        }
    });
</script>
</body>
</html>