<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SafeCollab - Home</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "styles.css" %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/myapplication">SafeCollab</a>
        </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/myapplication">Home</a></li>
        {%  if user.is_authenticated %}
            {% if user.is_staff %}
                <li><a href="/myapplication/manager">Manager</a></li>
            {% else %}
            {%  endif %}
      <li><a href="/myapplication/groups">Groups</a></li>
      <li><a href="/myapplication/messaging">Messages</a></li>
      <li><a href="/myapplication/reports">Reports</a></li>
        {%  else %}
        {%  endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Account
            <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/myapplication/settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                    <li><a href="/myapplication/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </li>
        {% else %}
            <li><a href="/myapplication/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
    </ul>
  </div>
</nav>
</div>
    <div class="container">
        {% if user.is_authenticated %}
            <h1>Home Page</h1>
            {% if NewM %}
            <p>You are logged in as {{ user.username }}! And you have new messages!</p>
            {% else %}
            <p>You are logged in as {{ user.username }}!</p>
            {% endif %}

        {% else %}
            {% if registered %}
            <strong>Thank you for registering!</strong>
            <a href="/myapplication/">Return to the homepage.</a><br/>
            {% else %}
                <form id="user_form" method="post" action="/myapplication/register/" enctype="multipart/form-data">
                    <h2>Register:</h2><br>
                    {% csrf_token %}

                    <label for="id_username">Username:</label>
                    <input class="form-control" id="id_username" maxlength="30" name="username" type="text"/>
                    <br>
                    <label for="id_email">Email address:</label>
                    <input class="form-control" id="id_email" maxlength="75" name="email" type="email"/>
                    <br>
                    <label for="id_password">Password:</label>
                    <input class="form-control" id="id_password" name="password" type="password"/>
                    <br>
                    <!-- Provide a button to click to submit the form. -->
                    <input class="btn btn-default" type="submit" name="submit" value="Register"/>
                    <a href="/user/password/reset/" class="btn btn-default">Lost Password</a>
                </form>
            {% endif %}
        {% endif %}
</div>
</body>
</html>