<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "styles.css" %}">
</head>
<body>
<div class="container">
    <div class="content">
        <h1>Home Page</h1>
        {% if user.is_authenticated %}
            <h1>You are logged in as {{ user.username }}!</h1>
            <a href="/myapplication/logout/">Logout</a>
        {% else %}
            <h1>You are not logged in</h1>
            <a href="/myapplication/register/">Register Here</a><br>
            <a href="/myapplication/login/">Login</a>
        {% endif %}
    </div>
</div>
</body>
</html>