<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SafeCollab</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "styles.css" %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "styles.css" %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SafeCollab</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/myapplication">Home</a></li>
      <li class="active"><a href="/myapplication/manager">Manager</a></li>
      <li><a href="#">Groups</a></li>
      <li><a href="/myapplication/messaging">Messages</a></li>
      <li><a href="/myapplication/reports">Reports</a></li>
    </ul>
      <form role="search" class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Search" class="form-control">
                </div>
            </form>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Account
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
          <li><a href="/myapplication/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
</div>
<div class="container">

    {% if user.is_authenticated %}
        <h2>Hello, {{ user.username }}!</h2>
        <h3>Active Users: </h3>
        {% if users %}
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th width="15%">Username</th>
                    <th width="15%">Manager Status</th>
                    <th>Privleges</th>
                    <th>Groups</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.is_staff }}</td>
                        <td>
                            <form class="suspend-form" action="#" method="post">
                                {% csrf_token %}
                                <input hidden type="text" name="username" value="{{ user.username }}">
                                {% if user.is_active %}
                                    <button name="suspend-btn" value="Click" type="submit"
                                            class="btn btn-danger delete-btn">
                                        Suspend User
                                    </button>
                                {% else %}
                                    <button name="suspend-btn" value="Click" type="submit"
                                            class="btn btn-success delete-btn">
                                        Restore User
                                    </button>
                                {% endif %}
                            </form><br>
                            <form class="manager-form" action="/myapplication/makemanager/" method="post">
                                {% csrf_token %}
                                <div class="input-group">
                                    {% if create_manager %}
                                        {% if user.is_staff %}
                                            <input hidden type="text" name="username" value="{{ user.username }}">
                                            <button name="manager-btn" value="Click" class="manager-btn btn btn-danger" type="submit">Remove SM</button>
                                        {% else %}
                                            <input hidden type="text" name="username" value="{{ user.username }}">
                                            <button name="manager-btn" value="Click" class="manager-btn btn btn-success" type="submit">Make SM</button>
                                        {% endif %}
                                    {% else %}
                                        {% if user.is_staff %}
                                            <input hidden type="text" name="username" value="{{ user.username }}">
                                            <button name="manager-btn" value="Click" class="manager-btn btn btn-danger" type="submit">Remove SM</button>
                                        {% else %}
                                            <button disabled name="manager-btn" value="Click" class="manager-btn btn btn-succcess" type="submit">Too Many SM's</button>
                                        {% endif %}
                                    {% endif %}
                                </div><!-- /input-group -->
                            </form>
                        </td>
                        <td>
                            <form class="group-form" action="/myapplication/usergroup/" method="post">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input hidden type="text" name="username" value="{{ user.username }}">
                                    <input type="text" class="form-control group-name" name="group-name" placeholder="Enter Group Name">
                                    <span class="input-group-btn">
                                        <button name="user-group-btn" value="Click" class="user-group-btn btn btn-default" type="submit">Add</button>
                                    </span>
                                </div><!-- /input-group -->
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <!-- Groups-->
        {% if groups %}
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Existing Groups</th>
                    <th>Group Members</th>
                    <th>Group Reports</th>
                </tr>
                </thead>
                <tbody>
                {% for group in groups %}
                    <tr>
                        <td>{{ group.name }}</td>
                        <td><a href="#">Group List</a></td>
                        <td><a href="#">Reports List</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <form id="group_form" method="post" action="/myapplication/manager/"
              enctype="multipart/form-data">
            <h3>New Group:</h3>
            {% csrf_token %}

            <label for="id_username">Name:</label>
            <input class="form-control" id="id_name" maxlength="30" name="name" type="text"/>
            <br>
            <input class="btn btn-default" type="submit" name="submit" value="Submit"/>
        </form>
    {% endif %}
</div>
<script type="text/javascript">
        var groups = [];
        {% for group in groups %}
        groups.push("{{ group.name }}")
        {% endfor %}

        $('.group-form').submit(function (e) {
            group = this.elements['group-name'].value;
            if (groups.indexOf(group) >= 0) {
            } else {
                e.preventDefault();
                alert("Group was not found");
            }
        });
</script>
</body>
</html>