<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "styles.css" %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">SafeCollab</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/myapplication">Home</a></li>
                {% if user.is_staff %}
                <li><a href="/myapplication/manager">Manager</a></li>
                {% else %}
                {%  endif %}
                <li><a href="/myapplication/groups">Groups</a></li>
                <li><a href="/myapplication/messaging">Messages</a></li>
                <li class="active"><a href="/myapplication/reports">Reports</a></li>
            </ul>
            <form role="search" class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Search" class="form-control">
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/myapplication/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="container">
    <div class="container">
        {% if report %}
            <h1>{{ report.description }}</h1>
            <strong><p>Submitted on {{ report.date }} by {{ report.author }}</p></strong>
            <br>
            <p>{{ report.content }}</p>
            {% if files %}
                {% for f in files %}
                    <a href="{{ MEDIA_URL }}{{ f.file.name }}">{{ f.file.name }}</a>
                    {% if report.author.username == user.username %}
                         <form class="deletefile-form" action="#" method="post">
                                    {% csrf_token %}
                                    <input hidden type="text" name="fileID" value="{{ f.id }}">
                                    <input hidden type="text" name="reportID" value="{{ report.id }}">
                                    <button name="deletefile-btn" value="Click" type="submit">
                                    X
                                    </button>
                                </form>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <br><br><br><br>
            <h3>Comments</h3>
            <br>
            {% if comments %}
                <table class="table table-striped table-hover">
                    <tbody>
                        {% for c in comments %}
                            <tr>
                                <td>{{ c.comment }}</td>
                                <td>{{ c.poster }}
                                <td>{% if c.poster.username == user.username %}
                                 <form class="deletecomment-form" action="#" method="post">
                                    {% csrf_token %}
                                    <input hidden type="text" name="commentID" value="{{ c.id }}">
                                    <input hidden type="text" name="reportID" value="{{ report.id }}">
                                    <button name="deletecomment-btn" value="Click" type="submit" class="user-comment-btn btn btn-default">
                                    Delete
                                    </button>
                                </form>
                                {% elif report.author.username == user.username %}
                                    <form class="deletecomment-form" action="#" method="post">
                                    {% csrf_token %}
                                    <input hidden type="text" name="commentID" value="{{ c.id }}">
                                    <input hidden type="text" name="reportID" value="{{ report.id }}">
                                    <button name="deletecomment-btn" value="Click" type="submit" class="user-comment-btn btn btn-default">
                                    Delete
                                    </button>
                                </form>
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <br>
            <form class="comment-form" action="#" method="post">
                {% csrf_token %}
                    <div class="input-group">
                        <input hidden type="text" name="reportID" value="{{ report.id }}">
                        <textarea class="form-control comment" name="comment" placeholder="Enter Comment..." rows="2"></textarea>
                        <span class="input-group-addon">
                            <button name="comment-btn" value="Click" class="user-comment-btn btn btn-default" type="submit">Comment</button>
                        </span>
                    </div>
            </form>
            <br>
            {% if viewer.id == report.author.id %}
                <h3>Give Permission to Groups</h3>
                <form class="groupreport-form" action="#" method="post">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input hidden type="text" name="reportID" value="{{ report.id }}">
                                    <input type="text" class="form-control group-name" name="group-name" placeholder="Enter Group Name">
                                    <span class="input-group-btn">
                                        <button name="report-group-btn" value="Click" class="user-group-btn btn btn-default" type="submit">Add</button>
                                    </span>
                                </div><!-- /input-group -->
                </form>
                <h3>Give Permission to Users</h3>
                <form class="userreport-form" action="#" method="post">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input hidden type="text" name="reportID" value="{{ report.id }}">
                                    <input type="text" class="form-control group-name" name="user-name" placeholder="Enter User Name">
                                    <span class="input-group-btn">
                                        <button name="report-user-btn" value="Click" class="user-group-btn btn btn-default" type="submit">Add</button>
                                    </span>
                                </div><!-- /input-group -->
                </form>
            {% endif %}

        {% endif %}

    </div>
</div>
</body>
</html>